<label>Email_id :- </label><h4>{{email_id}}</h4>
<mat-divider></mat-divider>
<label>Name :- </label><h4>{{name}}</h4>
<mat-divider></mat-divider>
<label>Mobile no :- </label><h4>{{mobile_no}}</h4>
<mat-divider></mat-divider>
<label>Date Of Birth  :- </label><h4>{{dob}}</h4>
<mat-divider></mat-divider>
<label>Address :- </label><h4>{{address}}</h4>
<mat-divider></mat-divider>
<label>Salary :- </label><h4>{{salary}}</h4>
<mat-divider></mat-divider>
<label>Joining Date  :- </label><h4>{{joining_date}}</h4>
<mat-divider></mat-divider>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>


  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 -->

<!-- <mat-form-field>
  <h1>{{user_id}}</h1>
</mat-form-field>
<mat-form-field>
  <h1>{{user_name}}</h1>
</mat-form-field>
<mat-form-field>
  <h1>{{user_mobileno}}</h1>
</mat-form-field>
<mat-form-field>
  <h1>{{gender}}</h1>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button>Cancel</button>
</div> -->

